<div class="frameMain">
    
    <div class="frameContact">
        <div class="frameContactDescription">
            <div class="frameTitle">
                CONTATO
            </div>
            <div class="frameText">
                Ficou com dúvida? Converse com a gente!
                Preencha o formulário ao lado ou entre em contato em um dos nossos canais: XXXXXXXX
                
                Acesse também o site do Sebrae: www.sebrae.com.br
            </div>
        </div>
        <div class="frameSendMessage">
            <div class="frameSendMessageTitle">
                Fale conosco
            </div>
            <div class="frameFormSendeMessage fluid">
                <div class="frameInput">
                    <div class="titleInput">Nome do evento</div>
                    <input type="text" pInputText [style]="{'width':'434px','height': '48px'}"  />
                </div>
                <div class="frameInput">
                    <div class="titleInput">E-mail</div>
                    <input type="text" pInputText [style]="{'width':'434px','height': '48px'}"  />
                </div>
                <div class="frameInput">
                    <div class="titleInput">Mensagem</div>
                    <textarea [style]="{'width':'434px','height': '158px'}">
                    </textarea>
                </div>
                <div class="sendeMesssage">Enviar Messagem</div>
            </div>        
        </div>        
    </div>
    <app-footer></app-footer>
</div>