
<div class="frameSebraelab p-jc-center  ">

    <div class="p-field frameTitle">
       <div class="title"> O que é o sebraelab ? </div> 
    </div>

    <div class="p-field frameText ">
        Integrado ao Ecossistema de Inovação Capixaba, o Sebraelab é um ambiente de estímulo à criatividade e à inovação objetivo de gerar novas soluções e modelos de negócio por meio de 
        conexões e trocas de experiências através de metodologias leves, práticas e acessíveis. 
    </div>

    <div class="frameButton">
        Conheça mais
    </div>
    
</div>

