  
<app-header></app-header> 
<app-banners-meuevento-show></app-banners-meuevento-show>
<div class="Rectangle1059">
    <div class="frameCalendar">
        <app-calendario-edit></app-calendario-edit>
    </div>
</div>
<div class="frameCrieSeuEvento">
    <label>CRIE SEU EVENTO</label>
    <div class="frameTimeline">        
        <app-evento-submit></app-evento-submit>
    </div>       
</div>
<div class="frameFuncionamento">
    <app-funcionamento-show></app-funcionamento-show>
    <app-footer></app-footer>
</div>
    



