.frameCrieSeuEvento{
    //border: 1px solid;
    /* CRIE SEU EVENTO */
    position: absolute;
    width: 482px;
    height: 700px;
    left: 816px;
    top: 670px;
    /* Heading/H3 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 42px;
    /* identical to box height, or 131% */
    /* Cores da Marca/Tipografia/Preto */
    color: #263746;
}

.frameTimeline{
    align-items: left;
    //border: 1px solid;
    position: absolute;
    width: 482px;
    height: 600px;
    left: 0px;
    top: 100px;
}


.frameFuncionamento{ 
    /* Frame 5903 */
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 64px;
  
  position: absolute;
  width: 1440px;
  height: 1405px;
  left: 0px;
  top: 1616px;}

