<div style="align-items: center;">
    <p-calendar 
    inputId="text" 
    id="text" 
    [showIcon]="true"
    [inline]="true" 
    selectionMode="multiple"
    dayNamesShort="['Dom', 'Seg', 'Ter', 'Qa', 'Qi', 'Sex', 'Sab']"
    [(ngModel)]="eventBooking.Days"                 
    (click)="selectDate($event)"
    inputStyle="color:#FFFFFF"
    width="100%"
    >          
    <!--
        //COLORIR CELULAS
    <ng-template pTemplate="date" let-date>
        <td [ngStyle]="{ backgroundColor: isDaySelected(date) ? '#50AF46' : 'inherit', 
                            width: isDaySelected(date) ? '100%': 'inherit', 
                            height: isDaySelected(date) ? '100%': 'inherit' , 
                            border: isDaySelected(date) ? '0px': 'inherit' }" >{{date.day}}</td>
    </ng-template>
    -->
    <ng-template pTemplate="date" let-date>
        <td>{{date.day}}</td>
    </ng-template>
    </p-calendar>
    <br> 

    <div *ngIf="ShowButtobAplly" style="border: 1px solid; align-items:center">
        <button pButton type="button"  label="Aplicar" class="buttonApply p-button-outlined" (click)="Apply()"></button>
    </div>

    <div style="width: 470px; height: 350px; overflow-y: auto;">
        <p-dataView [value]="periodos">
            <ng-template let-periodo pTemplate="listItem">
                <div style="height: 100px">
                    <div class="frameDataPeriodo">
                        <img src="../../assets/imgs/akar-icons_clock.png"> {{periodo.data}}
                    </div>
                    <div class="frameOptionsPeriodo">
                        <p-checkbox name="{{periodo.name}}" value="Manhã" label="Manhã" [(ngModel)]="periodos[periodo.index].option"></p-checkbox>
                        <p-checkbox name="{{periodo.name}}" value="Tarde" label="Tarde" [(ngModel)]="periodos[periodo.index].option"></p-checkbox>
                        <p-checkbox name="{{periodo.name}}" value="Noite" label="Noite" [(ngModel)]="periodos[periodo.index].option"></p-checkbox>
                        <p-radioButton name="{{periodo.name}}" value="Dia inteiro" label="Dia Inteiro"[(ngModel)]="periodos[periodo.index].option"></p-radioButton>
                    </div>        
                    <div class="frameInputPeriodo">
                        Início<p-inputMask width="5%" mask="99:99" name="horaInicio" [(ngModel)]="periodos[periodo.index].horaInicio"></p-inputMask>
                        Fim <p-inputMask width="5%"  mask="99:99" name="horaFim"  [(ngModel)]="periodos[periodo.index].horaFim"></p-inputMask>
                    </div>    
                </div>   
            </ng-template>
        </p-dataView>
    </div>

</div>
