/*
    Main Styles
*/
body {
    color: #2D2D2D;
    font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;;
    background-color: #FBFBFB !important;
}

body * {
    font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.p-card {
    margin-top: 8px;
    margin-bottom: 2rem;
}

.main {
    .main-content {
        width: 100%;
        min-width: 100%;
        .router {
            width: 100%;
            min-width: 100%;
        }
    }
    .content-page {
        padding-top: .7rem;
        padding-bottom: .7rem;
        width: 100%;
        max-width: 1140px;
    }
    /* Sub Components Layout*/
    @import 'header.scss';
    @import 'menu.scss';
}

.login {
    height: 100vh;
    width: 100%;
    min-width: 99%;
    max-width: 100%;
    background-color: #FFF;
    overflow: hidden;
    @import 'login.scss';
}

.ggm-btn-step {
    padding: 8px;
    line-height: 1.4em;
    min-width: 120px;
}

.p-listbox .p-listbox-list .p-listbox-item.p-highlight {
    color: #ffffff;
    background: #ff9900;
}

.p-checkbox .p-checkbox-box.p-highlight {
    border-color: #ff9900;
    background: #ff9900;
}


.p-datatable-responsive .p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td:first-child {
    border-left: none;
}
.p-datatable-responsive .p-datatable .p-datatable-tbody > tr > td:last-child {
    border-right: none;
}
.p-datatable-responsive .p-datatable .p-datatable-tbody > tr:last-child {
    border-bottom: none;
}

.p-datatable-responsive {
    .p-datatable {
        .p-datatable-wrapper {
            border: 1px solid #dee2e6;;
        }
        table {
            table-layout: auto !important;
            border: none;
            tbody {
                border: none;
            }
        }
    }
  }

.p-inputgroup {
    .p-dropdown, .p-multiselect {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-right: 0;
    }
    .p-dropdown-filter, .p-multiselect-filter {
        width: 100% !important;
    }
}
.p-dropdown-filter, .p-multiselect-filter {
    width: 100%;
}

.carousel-responsive {
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    .p-carousel-item, .p-carousel-content {
        overflow: hidden;
    }
    .pi {
        font-size: 2rem;
    }
    .p-carousel-prev, .p-carousel-next {
        top: 40%;
        position: absolute;
        opacity: 0.5;
        z-index: 1001;
    }
    .p-carousel-next {
       right: 0;
    }
    .p-carousel-indicators {
        margin-top: -46px;
        z-index: 1001;
    }
}

.p-card-title {
  color: #0e509d  !important;
  font-weight: bold;
  font-size: 2rem !important;
  text-align: center;
}
.p-card .p-card-subtitle {
  text-align: center;
}
