<div role="header" class="p-d-flex p-flex-row p-ai-center p-jc-center" style="background: #ED4D9A;">
    <div class="p-d-flex header-top p-ai-center" >
        <div class="logo p-text-center p-jc-center p-ai-center">
          <!--<div class="logo-img"></div>-->
        </div>
        <div class="menu-bar" >
          <a class="menu-link" href="javascript:void(0);">
              <i class="pi pi-bars"></i>
          </a>

          <ul class="menu-list">
              <li class="menuItem">Home</li>
              <li class="menuItem">Quem Somos</li>
              <li class="menuItem dropdown">Conteúdo
                <img src="/assets/imgs/chevron-left.png"/>
                <div class="dropdown-content">
                  <a href="#">Notícias</a>
                  <a href="#">EBook</a>
                  <a href="#">Editais</a>
                  <a href="#">Outros</a>
                </div>
              </li>
              <li class="menuItem">Eventos</li>
              <li class="menuItem">Contato</li>
          </ul>
      </div>
    </div>
</div>
