div[role=header] {
    background: #FFF;
    height: 5rem;
    padding-right: .25rem;
    padding-left: .25rem;
    z-index: 1000;
    box-shadow: 0px 1px 5px #00000029;
    .header-top {
        width: 100%;
        max-width: 1140px;
        .menu-bar i {
            font-size: 1.5rem;
            color: #666;
        }
        .menu-bar i:hover {
            color: #0E315A;
        }
        .logo {
            padding: 0;
            margin: 0;
            color: #004E9B;
            font-size: 5rem;
            line-height: 5rem;
            font-weight: 500;
            height: 5rem;
        }
        .logo::before {
            padding: 0;
            margin: 0;
            //background: url(../../../assets/imgs/logo.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding-left: 360px;
            content: " ";
            display: inline;
            position: relative;
        }
        .login-link {
            font-size: 1rem;
            line-height: 1.5rem;
            font-weight: 500;
            color: #666;
        }
        .user-menu {
          span {
            display: none;
          }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
    div[role=header] {
        .header-top {
            .logo {
                font-size: 3rem;
                margin-left: 50px;
            }
            .logo::before {
                padding-left: 179px;
            }
        }
    }
    .menu-list {
        display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 40px;

width: 807px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
    }
    .user-menu {
      span {
        vertical-align: top;
        line-height: 3em;
        padding-left: 0.5rem;
        display: inline-block !important;
      }
    }
    .menu-bar {
      position: absolute;
      width: 95%;
    }

    .menu-list.show {
        list-style: none;
        display: block;
        position: absolute;
        background: #FFF;
        width: 100%;
        padding: 0;
        margin: 0;
        top: 3.25rem;
        z-index: 1005;
        margin-left: -.25rem;
        box-shadow: 0px 5px 10px -1px #A0A0A0;
        li {
            margin: 0;
            padding: 1rem;
            font-weight: bold;
            color: #2D2D2D;
        }
        li:hover, li:focus {
            background: #004E9B;
            color: #FFF;
            cursor: pointer;
        }
    }

    .menu-link.show {
        color: #004E9B;
    }

    .menu-link {
        padding-left: .6rem ;
    }
    .login-link {
        padding-right: .6rem ;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    div[role=header] {
        .header-top {
            .logo {
                font-size: 1.5rem;
            }
        }
        .logo::before {
            padding-left: 185px;
        }
    }
    .menu-list {
        display: none;
        transition: opacity 1s ease-out;
    }
    .menu-link {
        padding-left: .6rem ;
    }
    .login-link {
        padding-right: .6rem ;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    div[role=header] {
        .header-top {
            .logo {
                font-size: 4rem;
            }
        }
    }
    .menu-link {
        display: none;
    }
    .menu-list {
        list-style: none;
        display: inline-flex;
        padding: 0;
        margin: 0;
        align-items: center;
        li {
            margin-left: 1rem;
            font-weight: bold;
            margin-right: 1rem;
       
            font-family: 'Arial';
            font-style: normal;
            //font-weight: 500;
            font-size: 16px;
            line-height: 150%;

            /* identical to box height, or 24px */
            text-align: center;
            color: #F8FAFC;
        }
        li:hover, li:focus {
            color: #004E9B;
            cursor: pointer;
        }

    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    div[role=header] {
        .header-top {
            .logo {
                font-size:4rem;
            }
        }
    }
    .menu-link {
        display: none;
    }
 }

 .circular--portrait {
    position: relative;
    width: 36px;
    height: 34px;
    overflow: hidden;
    border-radius: 50%;
  }

  .circular--portrait img {
    width: 100%;
    height: auto;
  }


.menuItem{font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    
    /* identical to box height, or 24px */
    text-align: center;
}

///////////////
li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #263746;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .imgDropdown {width: 16px;
    height: 16px;
    
    transform: rotate(-90deg);
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.frameRealize{display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;
    
    width: 180px;
    height: 36px;
    
    /* Cores da Marca/Variações da Marca/Amarelo/2 */
    background: #E9CF2E;
    border-radius: 8px;
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;

    color: #263746;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;

    /* identical to box height, or 20px */
    text-align: center;

    /* Cores da Marca/Tipografia/Preto */
    color: #263746;
}

.frameLogo{width: 138px;
    height: 53px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;}

.frameTitleLogo{//position: absolute;
    left: 4.44%;
    right: 85.97%;
    top: 56.68%;
    bottom: 18.82%;
    
    }

.frameFishLogo{//position: absolute;
    width: 45.75px;
    height: 30.29px;
    left: 156.25px;
    top: 16px;}



