<div role="header" class="p-d-flex p-flex-row p-ai-center p-jc-center" style="background: #ED4D9A;">
    
    <div class="frameLogo">
        
        <div class="frameFishLogo"><img src="/assets/imgs/fishLogo.png"/></div>
        <div class="frameTitleLogo"><img src="/assets/imgs/logo.png"/></div> 
    </div>
    <div class="p-d-flex header-top p-ai-center" >
      
        <div class="logo p-text-center p-jc-center p-ai-center">
          <!--<div class="logo-img"></div>-->
          
        </div>
        <div class="menu-bar" >
          <a class="menu-link" href="javascript:void(0);">
              <i class="pi pi-bars"></i>
          </a>

          <ul class="menu-list">
              <li class="menuItem"(click)="showHome()">Home</li>
              <li class="menuItem" (click)="showQuemSomos()">Quem Somos</li>
              <li class="menuItem dropdown">Conteúdo
                <img src="/assets/imgs/chevron-left.png"/>
                <div class="dropdown-content">
                  <a (click)="showNoticias()">Notícias</a>
                  <a (click)="showEBook()">EBook</a>
                  <a (click)="showEditais()">Editais</a>
                  <a (click)="showOutros()">Outros</a>
                </div>
              </li>
              <li class="menuItem" (click)="showEventos()">Eventos</li>
              <li class="menuItem" (click)="showContato()">Contato</li>
              <li class="menuItem" (click)="showMeuEvento()">
                <div class="frameRealize">Realize seu evento</div>
              </li>
          </ul>
           
      </div>
    </div>
</div>
