
<div class="frameMain">
    Para quem
</div>

<div class="frameText">
    O sebraelab é um espaço aberto para todo o ecossistema de inovação do Espírito Santo, que inclui:
</div>  

<div class="frameWhois frameSociedade">
    Sociedade
</div>

<div class="frameWhois frameEmpreendedores">
    Empreendedores e Empresas
</div>

<div class="frameWhois frameAmbientes">
    Ambientes promotores de inovação
</div>

<div class="frameWhois frameInstituicoes">
    Demais instituições parceiras
</div>

<div class="frameWhois frameColaboradores">
    Colaboradores
</div>

<div class="frameWhois frameGoverno">
    Governo
</div>  

