
<div class="p-d-flex p-ai-center p-jc-left">  
  
    <div class="p-d-flex p-flex-wrap p-ai-center p-jc-center message-submit">
      <div class="p-grid p-col-10 p-jc-center">
        
         <div class="ms-AccountInfo ms-tileCard u_rK0XtQKKaroLkqTcsh HOSVESU2zqaiHmyMqhM_ _ISfTtOZZnOme6yPtD7V">
            <div class="ms-tileCardHeader Wqsa0GypzLXCzAouncWC">
             
                <div class="p-field p-col-10 p-mt-1">
                    <div class="ms-tileTitle ms-pii ZrINlDzq6kHCB_nf_CFX">
                     {{userEntity.username}}
                    </div>
                </div>
  
                <div class="p-field p-col-10 p-mt-1">
                  <div>
                    <div class="_Yg3sathKpGltz2Et0_h">
                      <i data-icon-name="mail" aria-hidden="true" class="tShU0Rqn2wYYSKsfFk9p root-152">
      
                      </i>
                      <div class="spkf91CsRtcqb1O6Mq2e">
                        <span class="ms-pii">{{userEntity.mail}}</span>
                      </div>
                    </div>
                  </div>
                </div>  
                
                <b><u> <a href="user/edit/{{userEntity.id}}" ><p>Alterar perfil ></p></a> </u></b>
                <router-outlet></router-outlet>     

            </div>
          </div>
      </div>  
    </div> 
</div> 

<div class="p-field p-col-10 p-mt-1">
  <div class="ms-tileTitle ms-pii ZrINlDzq6kHCB_nf_CFX">
   Projetos favoritos
  </div>
</div>







  






