<div class="frameMain">
    <div class="lineTop"></div>
    <div class="frameCenter">
       
        <div class="frameLinks">
            <div class="frameLogo">
                <img src="./assets/imgs/Vector.png"/>
            </div>
            <div class="frameMenu">
                <ul class="menu-list" >
                    <li class="menuItem">Home</li>
                    <li class="menuItem">Quem Somos</li>
                    <li class="menuItem">Conteúdo</li>
                    <li class="menuItem">Eventos</li>
                    <li class="menuItem">Contato</li>
                </ul>
            </div>
            <div class="lineBotton"></div>
        </div>
        <div class="frameDireitos"></div>
        
    </div>
</div>