<div class="frameMain">
    <div class="lineTop"></div>
    <div class="frameCenter">
       
        <div class="frameLinks">
            <div class="frameLogo">
                <img src="./assets/imgs/Vector.png"/>
            </div>
            <div class="frameMenu">
                <ul class="menu-list" >
                    <li class="menuItem"><label>Home</label></li>
                    <li class="menuItem"><label>Quem Somos</label></li>
                    <li class="menuItem"><label>Conteúdo</label></li>
                    <li class="menuItem"><label>Eventos</label></li>
                    <li class="menuItem"><label>Contato</label></li>
                </ul>
            </div>
            <div class="lineBotton"></div>
        </div>
        <div class="frameDireitos"></div>
        
    </div>
</div>