<div class="p-inputgroup p-shadow-4">
    <span class="p-inputgroup-addon" *ngIf="showIcon">
        <i class="pi pi-key"></i>
    </span>
    <span class="p-float-label">
        <input pPassword 
            type="password" 
            [showPassword]="showPassword" 
            [feedback]="feedback" 
            name="{{name}}" 
            id="{{inputId}}" 
            [promptLabel]="password['promptLabel']"
            [weakLabel]="password['weakLabel']"
            [mediumLabel]="password['mediumLabel']"
            [strongLabel]="password['strongLabel']"
            [(ngModel)]="inputModel" 
            (ngModelChange)="inputModelChange.emit(inputModel)"
            autofocus="{{focus}}"
            /> 
        <label for="inputgroup">{{label}}</label>
    </span>
    <button (click)="onTogglePassword()" type="button" pButton pRipple [icon]="showPassword ? 'pi pi-eye-slash' : 'pi pi-eye'" class="p-button-secondary p-button-raised"></button>      
</div>