<div class="frame" >
    INICIO
    <div class="frameButtonsTop">
        AQUI botoes
    </div>

    <!--<div class="frameEntenda">
        Inicio Entenda
        <div class="frameTitleEntenda">
            ENTENDA O SEBRAELAB
        </div>
        <div class="frameOqueEh">
            O que é 
        </div>
        <div class="frameOqueNaoEh">
            O que nao é
        </div>
        <div class="frameImageEstrutura">
            frameImageEstrutura
            <div class="frameEstrutura">
            Estrutura
            </div>
            <div class="frameTitleEstrutura">  
                <div class="frameEstruturaBotton">
                <div class="frameEstruraFlexivelModular">

                </div>  
                <div class="frameEstruturaConteudoTexto">

                </div>
                </div>
            </div>
            
        </div>
        FIM Entenda
       <app-ecosistema-show></app-ecosistema-show>
    </div>-->


</div>


