<div class="frame" >
    INICIO
    <div class="frameButtonsTop">
        <div class="frameButton"><div class="frameMolduraButtonPink">Entenda o Sebraelab </div></div> 
        <div class="frameButton"><div class="frameMolduraButtonYellow">Na prática LAB </div> </div>
        <div class="frameButton"><div class="frameMolduraButtonGreen">Nosso Espaço</div></div> 
    </div>

    <div class="frameEntenda">
        Inicio Entenda
        <div class="frameTitleEntenda">
            ENTENDA O SEBRAELAB
        </div>
        <div class="frameOqueEh">
            <div class="frameTitleOqueEh">O que é </div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo">Um espaço de aprendizado contínuo que estimula a criatividade, a inovação e as múltiplas conexões nos negócios.</div>
            </div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo">Um ambiente multifuncional e colaborativo, pensado para o ecossistema de inovação capixaba. Um lugar flexível para viver, conviver e se apropriar.</div>
            </div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo">Um espaço para a troca de conhecimento e de experiências, que conecta pessoas e ideias.</div>
            </div>
        </div>
        <div class="frameOqueNaoEh">            
            <div class="frameTitleOqueNaoEh">O que nao é</div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo">Uma sala colorida com Wi-Fi, café e tomadas, como uma conveniência para quem estiver por perto.</div>
            </div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo">Uma sala colorida com Wi-Fi, café e tomadas, como uma conveniência para quem estiver por perto.</div>
            </div>
            <div class="frameOqueEhTexto">
                <div class="frameTextoConteudo">Um espaço passivo. Um lugar para as pessoas se refugiarem e se fecharem em suas próprias ideias.</div>
            </div>
        </div>
        <div class="frameImageEstrutura">
            frameImageEstrutura
            <img src="./assets/imgs/estrutura.jpg"/>
           <!--<div class="frameEstrutura">
            Estrutura
            </div>
            <div class="frameTitleEstrutura">  
                <div class="frameEstruturaBotton">
                <div class="frameEstruraFlexivelModular">

                </div>  
                <div class="frameEstruturaConteudoTexto">

                </div>
                </div>
            </div>-->
            
        </div>
        FIM Entenda
       <app-ecosistema-show></app-ecosistema-show>
    </div>


</div>


