.frameMain{position: absolute;
  width: 1446px;
  height: 1004px;
  left: 5px;
  top: 2456px;
  align-items: center;
  /* Tailwind/slate/50 */
  background: #F8FAFC;
  //border: 1px solid;
  
  }

.frameEventlab{display: flex;
  left: 64px;
  //border: 1px solid;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 72px;  
  //position: absolute;
  width: 1446px;
  height: 812px;
  left: 64px;
  top: 2564px;
}

.frameEventslabDescription{display: flex;
  //border: 1px solid;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;  
  width: 859px;
  height: 218px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frameTitle{
  align-items: center;
  //border: 1px solid;
  width: 462.88px;
  height: 82px;   
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title{  
  //position: absolute;
  width: 425px;
  height: 66px;
  left: 198.06px;
  top: 16px;  
  /* Heading/H1 */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 66px;  
  /* identical to box height, or 118% */
  display: flex;
  text-align: center;
  align-items: center;  
  /* Cores da Marca/Tipografia/Preto */
  color: #263746;
}

.frameText{
  //border: 1px solid;
  width: 859px;
height: 120px;
/* Body / Big */
font-family: 'PT Serif';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* or 30px */
text-align: center;
/* Tailwind/slate/700 */
color: #334155;
/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.frameEventlabDetails{display: flex;
  align-items: center;
  //border: 1px solid;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 32px;  
  width: 1312px;
  height: 522px; 
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}


.framebuttons{display: flex;  
  //border: 1px solid;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;  
  width: 1312px;
  height: 48px; 
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.p-button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  height: 48px;
  background-color: #ED4D9A; 
  color: #F8FAFC;
}

/*
.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 8px;
  width: 416px;
  height: 57px;
  background: #FFF028;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}*/

.frameEventlabGroup{display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;  
  width: 1312px;
  height: 386px; 
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.frameEventslablist{display: flex;
  //order: 1px solid;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  //gap: 20px;  
  width: 1312px;
  height: 386px;  
  /* Inside auto layout */
  flex: none;
  order: 1;
  //align-self: stretch;
  flex-grow: 0;
}

.frameEventlabItemGroup{display: flex;
  //border: 1px solid;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  //gap: 30px;
  
  width: 1312px;
  height: 183px;
  
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.frameEventlabItem{box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0px 0px;
  gap: 16px;  
  width: 417px;
  height: 183px;  
  /* Tailwind/white */
  //background: #FFFFFF;  
  /* Tailwind/slate/200 */
  //border: 1px solid #E2E8F0;
  border-radius: 8px;  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frameEventlabitemDetails{box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0px 0px;
  //gap: 16px;
  
  width: 417px;
  height: 183px;
  
  /* Tailwind/white */
  //background: #FFFFFF;
  
  /* Tailwind/slate/200 */
  //border: 1px solid #E2E8F0;
  //border-radius: 8px;
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frameEventlabitemDetailsCenter{display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
  gap: 16px;  
  width: 417px;
  height: 107px; 
  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;}

.thisWeek{display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;  
  width: 154px;
  height: 48px;  
  /* Cores da Marca/Cores principais/Rosa */
  background: #ED4D9A;
  border-radius: 24px;  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.nextWeek{display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;  
  width: 185px;
  height: 48px;  
  /* Cores da Marca/Cores pasteis/Rosa pastel */
  border: 2px solid #FBD3DA;
  border-radius: 24px;  
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.thisMonth{box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;  
  width: 120px;
  height: 48px;  
  /* Cores da Marca/Cores pasteis/Rosa pastel */
  border: 2px solid #FBD3DA;
  border-radius: 24px;  
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.nextMonth{box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  
  width: 153px;
  height: 48px;
  
  /* Cores da Marca/Cores pasteis/Rosa pastel */
  border: 2px solid #FBD3DA;
  border-radius: 24px;
  
  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}

.AllCalendar{box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 8px;
  
  width: 195px;
  height: 48px;
  
  /* Cores da Marca/Cores pasteis/Rosa pastel */
  border: 2px solid #FBD3DA;
  border-radius: 24px;
  
  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
}

.frameDate{display: flex;
  //border: 1px solid;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 4px;  
  width: 93px;
  height: 76px;  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frameDateDays{display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  gap: 4px;
  
  width: 93px;
  height: 48px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  
  /* Tailwind/slate/50 */
  background: #F8FAFC;
  border-radius: 50px;
  
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frameDays{display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;
width: 252px;
height: 107px;
/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;
}

.frameHour{display: flex;
  //border: 1px solid;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;  
  width: 252px;
  height: 107px;    
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 1;
}

.eventlabBAR{width: 107px;
  //border: 1px solid;
  height: 0px;          
  /* Cores da Marca/Cores principais/Laranja */
  border: 1px solid #F89E5A;
  transform: rotate(90deg);
  /* Inside auto layout */
  flex: none;
  order: 1;          
  flex-grow: 0;
}

.eventlabName{width: 252px;
  height: 36px;  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;  
  /* identical to box height */  
  /* Cores da Marca/Variações da Marca/Laranja/4 */
  color: #C45F13; 
  /* Inside auto layout */
  flex: none;
  order: 1; 
  flex-grow: 0;
}

.eventlabSummary{width: 252px;
  height: 42px;  
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;  
  /* Tailwind/slate/600 */
  color: #475569; 
  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.eventlabtime{width: 93px;
  //border: 1px solid;
  height: 21px;  
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;  
  /* Cores da Marca/Cores pasteis/Cinza */
  color: #525F6B; 
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frameEventlabSubscribe{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 20px;
  gap: 16px;
  width: 417px;
  height: 40px;
  order: 1;
  align-self: stretch;

  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;  
  color: #C45F13; 
  flex: none;
  order: 0;
  flex-grow: 0;}

.confira{display: flex;
  ///border: 1px solid;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 16px;
  
  width: 227px;
  height: 24px;
  
  
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
          
.frameDivisor{
  align-items: left; width:1px; height:100%;background-color: #F89E5A; color:#F89E5A;border-color:#F89E5A ;
}
