<div id="eventoslab"></div>

<div class="frameMain">
      
   <div class="frameEventlab">
        <div class="frameEventslabDescription">
            
            <div class="frameTitle p-field">
                <div class="title">Eventos no LAB</div>
            </div>
            <<div class="frameText p-field">
                Geramos conexões que propiciam parcerias e novos negócios. Estimulamos a cocriação e o aprimoramento de produtos, processos, serviços e novos modelos de negócio, além do desenvolvimento de estratégias, capacitações com metodologias inovadoras e promoção da cultura da inovação.
            </div>
        </div>



        <div class="frameEventlabDetails"> 

            <span class="p-buttonset">
                <button pButton pRipple type="button" label="Primary" class="p-button-rounded"></button>
                <button pButton pRipple type="button" label="Secondary" class="p-button-rounded p-button-secondary"></button>
                <button pButton pRipple type="button" label="Success" class="p-button-rounded p-button-success"></button>
                <button pButton pRipple type="button" label="Info" class="p-button-rounded p-button-info"></button>
                <button pButton pRipple type="button" label="Warning" class="p-button-rounded p-button-warning"></button>
                <button pButton pRipple type="button" label="Help" class="p-button-rounded p-button-help"></button>
                <button pButton pRipple type="button" label="Danger" class="p-button-rounded p-button-danger"></button>
          
          
            </span>

            
            <div class="framebuttons"> 
                <div class="thisWeek">Esta semana</div>
                <div class="nextWeek">Próxima semana</div>
                <div class="thisMonth">Este mês</div>
                <div class="nextMonth">próximo mês</div>
                <div class="AllCalendar">Agenda completa</div>
            </div>
            <div class="frameEventslablist">
                
                <div class="frameEventlabItemGroup">                    
                    <p-dataView [value]="eventslab">
                        <ng-template let-eventlab pTemplate="listItem">                                    
                                <div class="frameEventlabItem">                               
                                   <div class="frameEventlabitemDetails">
                                        <div class="frameDate">
                                            <div class="frameDays">{{eventlab.dateStart}}-{{eventlab.dateEnd}}</div>
                                        </div>                                    
                                        <div class="eventlabBAR"></div>
                                        <div class="frameHour">
                                            <div class="eventlabTime">{{eventlab.hourStart}} - {{eventlab.hourEnd}}</div><br>
                                            <div class=" eventlabName">{{eventlab.name}}</div><br>
                                            <div class="eventlabSummary">{{eventlab.summary}}</div><br>
                                        </div>                                 
                                    </div>
                                    <div class="frameEventlabSubscribe">
                                        <labe>Inscreva-se&nbsp;&nbsp; ></labe>
                                    </div>                    
                                </div>           
                       </ng-template>
                    </p-dataView>
                    
                </div>
            </div>
            <div class="confira">confira nossa agenda!<img src="/assets/imgs/arrow-right.png"/></div>
        </div>
    </div>
</div>