<div frame="frameBody">
    <div class="frameTitle">
      Como funciona o agendamento de eventos?
    </div>
    <div class="frameFuncionamentoContainer">  
          <div frame="frameTexto">
              O Sebraelab ES é um espaço para realizar eventos que beneficiem de modo geral a comunidade empreendedora e o ecossistema de inovação. Daremos prioridade aos eventos que sejam abertos ao público, gratuitos e que tenham relevância no fomento ao ecossistema de inovação. Não realizaremos eventos que sejam voltados à venda de produtos e/ou serviços. A proposta do evento será revisada de acordo com a sua relevância para o ecossistema, e o organizador do evento será contatado em até 10 dias úteis após o envio da proposta. Caso o evento seja aprovado, o organizador receberá um e-mail contendo detalhes de alinhamentos logísticos e deverá agendar uma visita técnica junto ao Gestor de Comunidade do Sebraelab, com no mínimo 3 dias de antecedência da data do evento. 

        O organizador do evento é responsável por toda a operação de seu evento, incluindo a promoção do mesmo, todo o processo de recepção, contratação de lanches, organização, conteúdo, montagem de cenografia e limpeza (retirada de lixos) do espaço. 

          </div>

          <div class="p-grid p-justify-center frameFluxoEvento">   
              <div class="frameRequerimento">
                  <div class="frameRequerimentoTitle">
                      REQUERIMENTO
                  </div>
                  <div class="frameRequerimentoTexto">
                      <div class="requerimentoTexto">
                        Você preenche acima os dados sobre o evento e recebemos via e-mail. Confira todos dados ao enviar.
                      </div>
                  </div>
              </div>

              <div class="frameSetaFluxo1">
                <img src="../../assets/imgs/setaFluxo1.png">
              </div>

              <div class="frameRevisao">
                  <div class="frameRevisaoTitle">
                    REVISÃO
                  </div>
                  <div class="frameRevisaoTexto">
                      <div class="revisaoTexto">
                        Recebemos os dados no e-mail e revisamos a proposta em até 10 dias úteis do envio.
                      </div>
                  </div>
              </div>

              <div class="frameSetaFluxo2">
                <img src="../../assets/imgs/setaFluxo2.png">
              </div>

              <div class="frameConfirmacao">
                  <div class="frameConfirmacaoTitle">
                    CONFIRMAÇÃO
                  </div>
                  <div class="frameConfirmacaoTexto">
                      <div class="confirmacaoTexto">
                        Caso aprovado, enviamos ao e-mail informado detalhes de alinhamentos logístico e próximos passos.                 
                      </div>
                  </div>
                </div>
          </div>

          <div class="frameMaisInformacoes">
              Para mais informações sobre o espaço, por gentileza, encaminhe qualquer pergunta ou sugestão para: ( xx) xxxxxxx 
          </div>
   
        <div class="frameMapa">
              <p-gmap [options]="options" [style]="{'width':'100%','height':'320px'}" ></p-gmap>
        </div>
    </div>
</div>
