.frameMain{display: flex;
    //border: 1px solid;
    flex-direction: row;
    align-items: flex-start;
    //padding: 24px;
    //gap: 22px;
    
    position: relative;
    width: 375px;
    height: 550px;
    
    /* Tailwind/white */
    background: #FFFFFF;
    
    /* dropdown */
   // box-shadow: 2px 16px 19px rgba(0, 0, 0, 0.09);
   // border-radius: 8px;
}

.frameOptions{display: flex;
    //border: 1px solid;
    flex-direction: column;
    //justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    //gap: 32px;    
    width: 375px;
    height: 105px;   
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.frameOptionsHead{display: flex;
    //border: 1px solid;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    //gap: 8px;
    
    width: 375px;
    height: 25px;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frameOptionsBody{
   /// border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 375px;
    height: 80px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    //align-self: stretch;
    flex-grow: 0;
}

.frameOptionsButtonApply{//box-sizing: border-box;
 
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //padding: 8px 16px;
    //gap: 8px;    
    width: 375px;
    height: 36px;
    
    /* Cores da Marca/Tipografia/Preto */
    border: 1px solid #263746;
    border-radius: 8px;
}

.frameCalendar{display: flex;
    /* Auto layout */
    //border: 1px solid;
    //@debug: column;
    align-items: left;
    padding: 0px;
    //gap: 22px;    
    width: 375px;
    height: 350px;   
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.buttonApply{
    box-sizing: border-box;
    border: 1px solid;
    align-items: center;
    width: 375px;
    height: 36px;
    background: #FFF028; 
    color:black; 
    border: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
  }

  .frameDivisor{
  height:100%;
  }

 
  .treetableDate .ui-widget-content{
    width: 30%; // or in pixel depends how much width you want.
}


.container ::ng-deep p-calendar .ui-datepicker table td {
    padding: 1px !important;
  }
  .container ::ng-deep p-calendar .ui-datepicker .ui-timepicker {
    padding: 2px 0 0 0 !important;
  }
  .container ::ng-deep p-calendar .ui-datepicker {
    padding: 0.757em 0.757em 0 0.757em !important;
  }