<div id="reserv"></div>

<div class="frameMain">  

    <div class="frameReserv">
        <div class="titleReserv">
            Reserve sua data
        </div>  

        <div classe="frameInputs p-fluid">            
            <div class="frameInput p-field">
                <div class="titleInput" >Dias do evento</div>
                <div class="inputCalendar" (click)="showDialogEventDate()">
                   <img src="./assets/imgs/icon_calendar.png"/> {{EventDaysFormated}}
                </div>
            
               <p-dialog 
                    position="left"
                    header="Calendário" 
                    blockScroll="false"
                    [breakpoints]="{ '715px': '89%' }" 
                    [style]="{ width: '25%' }"
                    [(visible)]="DialogEventDateShowing" 
                    [modal]="false" 
                    styleClass="p-fluid">
                       <app-eventdate-show 
                       (clickHide)="hideDialogEventDate()"
                       (clickReserve)="reserve($event)"
                       [ShowButtobAplly] = "true"
                       ></app-eventdate-show>
                       <!--<app-calendario-edit></app-calendario-edit>-->
                </p-dialog>             
            </div>
            <div class="inputCalendar" >
               <img src="./assets/imgs/akar-icons_clock.png"/> {{EventPeriodoFormated}} 
            </div>
            <div class="frameInput p-field">
                <div class="titleInput">Nome do evento</div>
                <input type="text" pInputText [style]="{'width':'354px','height': '48px'}"  />
            </div>
            <div class="frameInput p-field">
                <div class="titleInput">Número de participantes</div>
                <p-inputNumber [min]="0" [max]="30" [style]="{'width':'354px','height': '48px'}" ></p-inputNumber>
            </div>
            
            <div class="titleInput">Capacidade máxima para 30 inscritos.</div>
            <p></p>
               
            <div class="frameButton">        
                <button pButton type="button" label="Iniciar Agendamento" class="buttonIniciarAgendamento p-button-outlined" (click)="showMeuEvento()"></button>
            </div>
            
        </div>      

    </div>

    <div class="frameText">
        <div class="frameRealize">
            <div class="frameTitle">
                <div class="title">Realize seu evento</div>
            </div>

            <div class="Text">
                Os espaços do sebraelab se adaptam a diferentes necessidades e propósitos de uso, propícios ao trabalho coletivo e à criatividade. Oferecemos a estrutura aberta para o uso de todos. O agendamento é realizado pelo formuário ao lado, onde também é possível conferir as nossas disponbilidades de dias e horários. Após o preenchimento de todas informações, receberemos sua solicitação, validamos e enviamos a confirmação do agendamento. 
            </div>
        </div>
        <div>Saiba mais <img src="/assets/imgs/arrow-right.png"/></div>
    </div>

</div>