
<div class="frameMain">

    <div class="frameTitle">
        Para quem
    </div>

    <div class="frameText">

        O sebraelab é um espaço aberto para todo o ecossistema de inovação do Espírito Santo, que inclui:
    </div>  

    <div class="frameWhois frameSociedade">
        <img src="./assets/imgs/fish_1.png"/>
        Sociedade
    </div>

    <div class="frameWhois frameEmpreendedores">
        <img src="./assets/imgs/fish_2.png"/>
        Empreendedores e Empresas
    </div>

    <div class="frameWhois frameAmbientes">
        <img src="./assets/imgs/fish_3.png"/>
        Ambientes promotores de inovação
    </div>

    <div class="frameWhois frameInstituicoes">
        <img src="./assets/imgs/fish_4.png"/>
        Demais instituições parceiras
    </div>

    <div class="frameWhois frameColaboradores">
        <img src="./assets/imgs/fish_2.png"/>
        Colaboradores
    </div>

    <div class="frameWhois frameGoverno">
        <img src="./assets/imgs/fish_1.png"/>   
        Governo
    </div> 

</div>